html{
    scroll-behavior: smooth;
}

body{
    background-color: rgba(245, 245, 245, 0.493);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#first-page {
    height: 100vh;
    width: 100%;
   
}

.nav {
    height: 10vh;
    width: 90%;
    display: flex;
    flex-direction:row ;
    border-radius: 4px;
    margin-left: 5%;
    margin-bottom: 2%;
    margin-top: 1.5%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}

.nepal-logo {
    display: flex;
    margin-right: 0%;
    width: 40%;
}

.nepal-logo img {
    padding-left: 2%;
    height: 7vh;
    width: 40px;
}

.nepal-logo h1 {
    text-transform: uppercase;
    font-size: 30px;
    padding-left: 4%;
    color: black;
    position: relative;
    top: 8px;
    letter-spacing: 8px;
    font-family: "Playwrite AR", cursive;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    width: 70%;
    margin-left: 22%;
}

ul li {
    list-style: none;
}

ul li a {
    color: #f9004d;
    text-decoration: none;
    font-size: 19.5px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: "Barlow Condensed", sans-serif;
    transition: 0.5s ease;
}

ul li a:hover {
    color: #191919;
}

/*main section*/
.main-head {
    height: 80vh;
    width: 85%;
    margin-left: 7.5%;
    text-align: center;
    padding-top: 15%;
    border-radius: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('images/back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: first linear;
    animation-duration: 1s;
    animation-delay: 0.5s;
}
@keyframes first {
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}

.main-head h2 {
    font-size: 55px;
    letter-spacing: 4px;
    word-spacing: 3px;
    text-transform: capitalize;
    color: white;
    padding-bottom: 2%;
    font-family: "Playwrite AR", cursive;
    margin-top: -3%;
}

.main-head p {
    font-size: 21px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-family: "Barlow Condensed", sans-serif;
    color: #fff724;
}

span {
    color: white;
    font-family: "Barlow Condensed", sans-serif;
}

.button {
    padding-top: 10%;
}

.button button {
    font-size: 17px;
    padding: 4px 16px;
    transition: 0.5s ease;
    background-color: transparent;
    border: none;
}

.button button a {
    text-decoration: none;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
    color: #fff724;
    letter-spacing: 2px;
    font-family: "Barlow Condensed", sans-serif;
}

.button button a::after {
    content: "";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -12%;
    transition: 0.5s ease;
}

.button button a:hover::after {
    width: 100%;
}

/*------------------------------end of first page-------------------------------------------*/

#second-page {
    height: 200vh;
    width: 90%;
    margin-left: 5%;
    margin-top: -2%;
    margin-bottom: 10%;
}

.destination h1{
    color: red;
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
    letter-spacing: 2px;
    padding-bottom: 2%;
    font-family: "Playwrite AR", cursive;
}
.container{
    height: 186vh;
    width: 100%;
}
.flex-box,.flex-box2,.flex-box3,.flex-box4{
    height: 45vh;
    width: 56%;
    display: flex;
    border-radius: 7px;
    justify-content: space-around;
    align-items: center;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 2%;
    box-shadow: 2px 2px 10px #191919;
    animation: flexbox linear;
    animation-timeline: view();
    animation-range: entry 0 cover 50%;
}
@keyframes flexbox {
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
    
}
.flex-box,.flex-box2,.flex-box3,.flex-box4 p{
    color: black;
    font: 20px;
    font-family: "Barlow Condensed", sans-serif;
}
.flex-box2,.flex-box4{
    float: right;
    margin-right: 1%;
    margin-bottom: 3%;
}
.anchor{
    flex: none;
    height: 40vh;
    width: 45%;
    margin-left: 1%;
}
.par p{
    text-align: justify;
    padding-bottom: 6%;
    font-size: 17.5px;
    font-family: "Barlow Condensed", sans-serif;
}
.par h1{
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #f9004d;
    font-size: 25px;
    padding-bottom: 5%;
    font-family: "Barlow Condensed", sans-serif;
}
.image{
    height:41.9vh ;
    width: 55%;
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 3%;
    margin-right: 1%;
    transition: 0.5s ease;
    border-radius: 6px;
   
}
.image img{
    height: 41.2vh;
    width: 100%;
    border-radius: 6px;
    box-shadow: 2px 2px 10px #191919;
}
.image:hover{
    border: 2px solid #f9004d;
}
.paragraph-more{
    text-align: center;
}
.paragraph-more a{
    text-decoration: none;
    text-transform: capitalize;
    color: #f9004d;
    letter-spacing: 1px;
    font-size: 15px;
    position: relative;
    font-family: "Barlow Condensed", sans-serif;
}
.paragraph-more a::after{
    content: "";
    position: absolute;
    background-color: black;
    height: 2px;
    width:0;
    left: 0;
    bottom: -15%;
    transition: 0.5s ease;
}
.paragraph-more a:hover::after{
    width: 100%;
}
/*------------------------------end of second page-------------------------------------------*/

#third-page{
    height: 105vh;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 3%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.329);
}
.history h1{
    color: #f9004d;
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
    letter-spacing: 2px;
    padding-top: 1%;
    padding-bottom:0.5%;
    font-family: "Playwrite AR", cursive;
}
.container2{
    display: flex;

}
.history-paragraph{
    height: 90vh;
    width: 70%;
    margin-right: 5%;
    animation: history linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
@keyframes history {
    0%{
       opacity: 0;
       transform: translateX(400px); 
    }
    33%{
        transform: translateX(267px);
    }
    66%{
        transform: translateX(134px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.history-paragraph p{
    color: #191919;
    letter-spacing: 1px;
    text-align: justify;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5%;
    font-family: "Barlow Condensed", sans-serif;
}
.history-more{
    padding-left: 45%;
    padding-top: 2%;
}
.history-more a{
    text-decoration: none;
    text-transform:capitalize;
    color: #f9004d;
    letter-spacing: 1px;
    font-size: 17px;
    position: relative;
    font-family: "Barlow Condensed", sans-serif;
}
.history-more a::after{
    content: "";
    position: absolute;
    background-color: #191919;
    height: 2px;
    width:0;
    left: 0;
    bottom: -15%;
    transition: 0.5s ease;
}
.history-more a:hover::after{
    width: 100%;
}
.history-images{
    height: 90vh;
    width: 25%;
}
.image-box{
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 1%;
    border-radius: 7px;
    animation: historyimage linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
@keyframes historyimage {
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.image-box img{
    height: 27.5vh;
    width:99%;
    border-radius: 7px;
    margin-bottom: 1%;
    margin-top: 3%;
    box-shadow: 2px 2px 10px #191919;
}
/*------------------------------end of third page-------------------------------------------*/


#last-page{
    height: 104vh;
    width: 90%;
    margin-left: 5%;
}
#last-page h1{
    color: #f9004d;
    text-align: center;
    text-transform: capitalize;
    font-size: 35px;
    letter-spacing: 2px;
    padding-bottom: 0.5%;
    font-family: "Playwrite AR", cursive;
}
.about-flex{
    display: flex;
}
.about-paragraph{
    height: 90vh;
    width: 70%;
    animation: aboutpara linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
@keyframes aboutpara {
    from{
        opacity: 0;
        scale: 0;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.about-paragraph p{
    color: #191919;
    text-transform: capitalize;
    text-align: justify;
    letter-spacing: 1px;
    padding-left: 5px;
    padding-right: 3px;
    font-family: "Barlow Condensed", sans-serif;
    padding-top: 3%;
}
.about-more-more{
    padding-left: 45%;
    padding-top: 2%;
}
.about-more-more a{
    text-decoration: none;
    text-transform: capitalize;
    color: #f9004d;
    letter-spacing: 1px;
    font-size: 17px;
    position: relative;
    font-family: "Barlow Condensed", sans-serif;
}
.about-more-more a::after{
    content: "";
    position: absolute;
    background-color:#191919 ;
    height: 2px;
    width:0;
    left: 0;
    bottom: -15%;
    transition: 0.5s ease;
}
.about-more-more a:hover::after{
    width: 100%;
}
.more-about{
    height: 90vh;
    width: 30%;
    animation: image linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
.more-about img{
    height: 35vh;
    width: 80%;
    margin-left: 13%;
    margin-top: 5%;
    box-shadow: 2px 2px 10px #191919;
    border-radius: 7px;
}
@keyframes image {
    0%{
        opacity: 0;
        transform: translateX(-400px);
    }
    33%{
        transform: translateX(-267px);
    }
    66%{
        transform: translateX(-134px);
    }
    100%{
        transform: translateX(0px);
    }
}
.more-about p{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f9004d;
    text-align: center;
    font-family: "Barlow Condensed", sans-serif;
}

